.purchaseLayout {
  display: grid;
  place-content: center;
}

.purchaseLayout h2 {
  display: grid;
  margin: 0;
  place-content: center;
  color: #ffffff;
  padding: 1em;
  font-family: "Goodtimes Regular";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

.purchaseLayout nav {
  margin: 0 0 1em;
}

.purchaseLayout nav a {
  width: 2em;
  color: #ffffff;
  font-size: 2em;
}

.purchaseLayout nav .active {
  color: #f44336;
}

.purchaseLayout article {
  position: relative;
  overflow: hidden;
  background: #09716994;
  padding: 0.5em 0;
  display: grid;
  clip-path: polygon(1em 0%,
      100% 0,
      100% calc(100% - 1em),
      calc(100% - 1em) 100%,
      0 100%,
      0% 1em);
  width: 80vw;
}

.purchaseLayout article h3 {
  text-align: center;
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  margin: 0 0 4px;
  padding: 0 0 0.5em;
  font-family: 'Goodtimes Regular';
  letter-spacing: 1px;
  font-weight: normal;
}

.purchaseLayout article h4 {
  color: #ffffff;
  font-family: 'Goodtimes Regular';
  letter-spacing: 1px;
  font-weight: normal;
}

.purchaseLayout article ul {
  display: grid;
  grid-template-columns: auto auto;
}

.purchaseLayout article ul li {
  list-style: none;
}

.purchaseLayout article p {
  height: 20vh;
}

.purchaseLayout article a.purchase {
  cursor: pointer;
  color: #ffffff;
  padding: 0.5em 1.5em;
  border: 0;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  clip-path: polygon(1em 0%,
      100% 0,
      100% calc(100% - 1em),
      calc(100% - 1em) 100%,
      0 100%,
      0% 1em);
  width: 90%;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 250ms;
  margin: 0 auto 1em;
  font-family: 'Goodtimes Regular';
  letter-spacing: 1px;
}

.purchaseLayout article a.purchase::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff;
  z-index: -2;
}

.purchaseLayout article a.purchase::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #097169, black);
  z-index: -1;
  clip-path: polygon(0.1em calc(1em + 0.1em * 0.5),
      calc(1em + 0.1em * 0.5) 0.1em,
      calc(100% - 0.1em) 0.1em,
      calc(100% - 0.1em) calc(100% - calc(1em + 0.1em * 0.5)),
      calc(100% - calc(1em + 0.1em * 0.5)) calc(100% - 0.1em),
      0.1em calc(100% - 0.1em));
  transition: clip-path 250ms;
}

.purchaseLayout article a.purchase:hover {
  color: #000000;
}

.purchaseLayout article a.purchase:hover::after {
  clip-path: polygon(calc(100% - 0.1em) calc(100% - calc(1em + 0.1em * 0.5)),
      calc(100% - 0.1em) 1em,
      calc(100% - 0.1em) 1em,
      calc(100% - 0.1em) calc(100% - calc(1em + 0.1em * 0.5)),
      calc(100% - calc(1em + 0.1em * 0.5)) calc(100% - 0.1em),
      calc(100% - calc(1em + 0.1em * 0.5)) calc(100% - 0.1em));
}